.auth-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #f1e5d1;
}

.auth-box {
  width: 300px;
  padding: 20px;
  background: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;

  .message {
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 5px;
    color: #987070;
    font-weight: bold;
    text-align: center;
  }

  h2 {
    margin-bottom: 20px;
    text-align: center;
    color: #333;
  }

  .form-group {
    margin-bottom: 15px;

    label {
      display: block;
      margin-bottom: 5px;
      color: #333;
    }

    input {
      width: 100%;
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 5px;
      box-sizing: border-box;
    }
  }

  .btn {
    width: 100%;
    padding: 10px;
    border: none;
    background: #987070;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;

    &:hover {
      background: #c39898;
    }
  }
}
